
body {
    font-size: 2rem;    
}

.nav-item {
    font-size: 3rem;
}

#navbarNav {

     .navbar-nav .nav-link:hover {
	text-decoration: underline;
	color: #584944fe;
	text-decoration-color: #a1bfc4;
	text-decoration-thickness: 2px;	
    }
    .navbar-nav .nav-link.active {
	text-decoration: underline; 
	text-decoration-color: #a1bfc4;
	text-decoration-thickness: 2px;
			    
    }


}


#section-1 {
    background-color: #c7894e;
    padding-left: 10rem ;
}



.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;  
}

#header-1 {
    font-weight: bolder;
    color: #4d4d4d;
    font-size: 5rem;
}

#header-2 {
    font-weight: 1000;
    color: #584944fe;
    font-size: 6rem;    
}

#header-3 {
    font-weight: bolder;
    color: #584944fe;
    font-size: 5rem;
}

#section-2 {
    background-color: #7b8faafe;
    padding-bottom: 10rem ;
    h1 {
	color: #ffff;
	font-weight: 1000;
    }

    .card {
	margin-left: 25rem;
	margin-right: 25rem;
	padding: 2rem 3rem;
	border-radius: 50px;

    }

    p {
	font-weight: bolder;
	font-size: 2rem;
    }        
}

#section-3{
    h1{
	font-size: 5rem;
    }

    #github-section{
	background-color: #f4d7d7;
	padding: 5rem 0;
    }
    #linkedin-section{
	background-color: #aaeeff;
	padding: 5rem 0;	
    }

    #email-section{
	background-color: #cccc;
	padding: 5rem 0;	
    }        
}
