{{ $imageCup := resources.Get "images/cup_selection_2.png" }}
{{ $imageCup := $imageCup.Resize "70x" }}
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item px-5 d-flex align-items-center">	  
	  <img src="{{ $imageCup.RelPermalink }}" class="img" alt="..."> 	  
          <a class="nav-link active" aria-current="page" href="#">home</a>	  
        </li>
        <li class="nav-item px-5">
          <a class="nav-link" href="#">blog</a>
        </li>
        <li class="nav-item px-5">
          <a class="nav-link" href="#">resume</a>
        </li>
        <li class="nav-item px-5">
          <a class="nav-link" href="#">portfolio</a>
        </li>
        <li class="nav-item px-5">
          <a class="nav-link" href="#">contact me</a>
        </li>		
      </ul>
    </div>
  </div>
</nav>

