{{ define "main" }}
{{ $image := resources.Get "images/safloresg_toon.png" }}
{{ $imageSmCup := resources.Get "images/small_cup_red.png" }}
{{ $imageSmCup := $imageSmCup.Resize "70x" }}
{{ $imageGithubIcon := resources.Get "images/github_icon.png" }}
{{ $imageGithubIcon := $imageGithubIcon.Resize "100x" }}
{{ $imageLinkedinIcon := resources.Get "images/linkedin_icon.png" }}
{{ $imageLinkedinIcon := $imageLinkedinIcon.Resize "100x" }}
{{ $imageMailIcon := resources.Get "images/mail_icon.png" }}
{{ $imageMailIcon := $imageMailIcon.Resize "100x" }}
<div class="container-fluid" id="section-1">
  <div class="row pt-4 px-5">
    <div class="col-1 text-center" >
      <img src="{{ $imageSmCup.RelPermalink }}" class="img-fluid" alt="...">      
    </div>    
    <div class="col-11">

      <h2 class="display-4 text-left" id="header-1">Hi there! I'm </h2>      
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img src="{{ $image.RelPermalink }}" class="img-fluid" alt="...">
    </div>    
    <div class="col-10">
      <h2 class="display-4 mx-5 px-5 text-left " id="header-2">&lt Sergio Flores &gt</h2>
      <h2 class="display-4 mx-5 px-5 text-left" id="header-3"> Fullstack Dev ; SRE </h2>          
    </div>
  </div>  



</div>


<div class="container-fluid" id="section-2">

	<h1 class="text-center py-5">About me:</h1>
	<div class="card">
		<div class="card-body">
			<p class="card-text">I am a software engineer with 10 years of
				experience.
				I have vast experience on fullstack development
				and devops practices.
				Experienced leading cross-functional team
				developing new and scalable products.</p>

		</div>
	</div>

</div>

<div class="container-fluid" id="section-3">
  <div class="row" >
    <div class="col" id="github-section">
      <div class="row">
	<div class="col-4 text-center">
	  <h1>Github</h1>
	</div>
	<div class="col-8 text-center">
	  <img src="{{ $imageGithubIcon.RelPermalink }}" class="img-fluid" alt="...">
	</div>
      </div>
    </div>
    
    <div class="col" id="linkedin-section">
      <div class="row">
	<div class="col-4 text-center">
	  <h1>Linkedin</h1>
	</div>
	<div class="col-8 text-center">
	  <img src="{{ $imageLinkedinIcon.RelPermalink }}" class="img-fluid text-left" alt="...">
	</div>
      </div>
    </div>
    <div class="col" id="email-section">
      <div class="row">
	<div class="col-4 text-center">
	  <h1>Email</h1>
	</div>
	<div class="col-8 text-center">
	  <img src="{{ $imageMailIcon.RelPermalink }}" class="img-fluid text-left" alt="...">
	</div>
      </div>
    </div>
  </div>

</div>

{{ end }}
